#!/usr/bin/make -f
# -*- makefile -*-

DEB_PYTHON2_MODULE_PACKAGES := trifusion

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk

override_dh_shlibdeps:
	@echo "Skipping dh_shlibdeps"
